.header {
  align-items: center;
  background-color: rgb(208, 147, 72);
  border: 1px solid black;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .title {
  font-size: 24px;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin-right: 20px;
}

.header nav ul li:last-child {
  margin-right: 0;
}

.main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
}

.page {
  box-sizing: border-box;
}

.temperature {
  font-size: 50px;
  text-align: left;
}

.weatherCardWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: 60px;
  width: 100vw;
  box-sizing: border-box;
}

.weatherCity {
  font-size: 50px;
  padding: 20px;
  text-align: center;
}

.weatherContent {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.weatherIcon {
  margin-bottom: 10px;
  width: 400px;
}

.weatherLeft {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.weatherRight {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  justify-content: flex-start;
  padding-left: 0px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0px;
  }

  .header .title {
    font-size: 7px;
    margin-bottom: 0px;
  }

  .header nav ul {
    align-items: center;
    flex-direction: column;
  }

  .header nav ul li {
    margin-bottom: 0px;
    margin-right: 0;
  }

  .header nav ul li:last-child {
    margin-bottom: 0;
  }

  .main {
    max-height: 1600px;
  }

  .temperature {
    font-size: 2.5em;
  }

  .weatherCardWrapper {
    min-height: 100vh;
    padding-top: 100px;
  }

  .weatherCity {
    font-size: 1em;
    margin-top: 100px;
  }

  .weatherContent {
    flex-direction: column;
    width: 300%;
  }

  .weatherLeft,
  .weatherRight {
    align-items: center;
    font-size: 0.7em;
    margin: 0px 0;
  }
}

@media (max-width: 280px) {
  .header {
    padding: 0px;
  }

  .header .title {
    font-size: 8px;
  }

  .header nav ul li {
    font-size: 6px;
  }

  .temperature {
    font-size: 2em;
  }

  .weatherCardWrapper {
    min-height: 100vh;
    padding-top: 100px;
  }

  .weatherCity {
    font-size: 2em;
    margin-top: 30px;
  }
}
